In [7]:
import numpy as np
import pandas as pd
import re

In [2]:
np.random.binomial(1,0.5)

0

In [3]:
np.random.binomial(1000,0.5)/1000

0.486

In [4]:
x =np.array(np.random.binomial(20,0.5,1000))

In [5]:
x.dtype

dtype('int32')

In [55]:
x = ['one[edit]','two','three[edit]']
x

['one[edit]', 'two', 'three[edit]']

In [43]:
for word in x:
    print(re.search('.[.[a-z]+.]',word))

<_sre.SRE_Match object; span=(0, 9), match='one[edit]'>
None
<_sre.SRE_Match object; span=(0, 11), match='three[edit]'>

In [56]:
x

['one[edit]', 'two', 'three[edit]']

In [47]:
for word in x:
    print(word.split('[edit]')[0])

one
two
three

In [50]:
y = "one[edit] two three four[edit] five six"
for word in y.split(' '):
    #x = word.split(" ")
    #for i in x:
        word = word.split("[edit]")[0]
        print(word)
#re.sub(r'\[image.+image\]','',s)

one
two
three
four
five
six

In [75]:
for word in x:
    print(re.sub(r'\[edit]',' ',word))

one
two
three

In [72]:
s='dasdasdsafs[image : image name : image]vvfd gvdfvg dfvgd'
re.sub(r'\[image]','',s)

'dasdasdsafs[image : image name : image]vvfd gvdfvg dfvgd'

In [80]:
(re.sub(r'\[edit]','','one[edit]'))

'one'

In [90]:
s = 'ajju(loves big wet asses)'
re.sub(r'(.[a-z]+)','',s)

')'

In [95]:
y = [(1,2),(3,4)]
y[1]

(3, 4)

In [97]:
x = pd.DataFrame([[1,2],[3,4]], columns=list('ab'))
x

   a  b
0  1  2
1  3  4

In [109]:
x.append(pd.DataFrame([[1,5]], columns=list('ab')))

   a  b
0  1  2
1  3  4
0  1  5

In [111]:
dict1 = {'a':[1,2,3,4],'b':[5,6]}
for x in dict1.keys():
    print(x)
    for value in dict1[x]:
        print(value)

a
1
2
3
4
b
5
6

In [106]:
dict1['a']

[1, 2, 3, 4]

In [107]:
for value in dict1['a']:
    print(value)

1
2
3
4